body{
    margin-top: 5vh;
    font-family: 'Poppins',sans-serif;
    
}
#page-heading{
    width: 20vw;
    margin-left: 43vw;
}
#new-project-form{
    margin-top: 10vh;
    width: 40vw;
    margin-left: 30vw;
  
    background-color: rgb(120, 193, 236);
    
    padding: 2vh;
}
#name{
    width: 40vw;
    height: 5vh;
    
    border: 2px solid rgb(0, 0, 0);
   
    
   
}
#description{
    width: 40vw;
    height: 5vh;
    
    border: 2px solid rgb(0, 0, 0);

   

}
#author{
    width: 40vw;
    height: 5vh;

    border: 2px solid rgb(0, 0, 0);

   
}
#submit-btn{

    /* border: rgb(207, 207, 189); */
    height: 50px;
    background-color: rgb(142, 187, 142);
}
#submit-btn:hover{
    cursor: pointer;
}